body{
    font-family: 'Courier New', Courier, monospace;
}

.todo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: rgb(75,74,82);
    background: linear-gradient(90deg, rgba(75,74,82,1) 0%, rgba(76,147,162,1) 100%, rgba(0,212,255,1) 100%);
    border-radius: 1em;
    height: 50vh;
}

.todo > li{
    list-style: none;
    color: #fff;
}